<template>
<center>
    This is the Landing Page
    <hr/>
    This is an Example Page of using Vite and Vue3 with Vue4 Router in non-hash mode with Gitlab Pages.
    <ul>
        <li>
            <router-link :to="{name: 'Projects'}">Go to Projects</router-link>
        </li>
        <li>
            <router-link to="/dasdsa">Go to Broken Link</router-link>
        </li>
    </ul>
</center>

</template>