<script lang="ts" setup>
import { onMounted, ref } from 'vue';
import { useRoute } from 'vue-router';
import dataUrl from "../data/someDataToLoadAsync.txt?url"

const route = useRoute();

const projectId = route.params.id ?? "Unknown";

const data = ref("");

onMounted( async() => {
    let txt: string;
    try {
        console.log("Dataurl is "+dataUrl)
        const resp = await fetch(dataUrl)
        txt = await resp.text()
    }
    catch(err) {
        txt = err+""
    }
    data.value = txt;
})

</script>

<template>

<center>
    Page for Project {{projectId}}
    <hr/>
    Data: {{data}}
    <hr/>
    <ul>
        <li><router-link to="/">Main Page</router-link></li>
        <li><router-link :to="{'name': 'Projects'}">Projects</router-link></li>
    </ul>
</center>

</template>