<template>
<center>
    This is the Projects Page
    <hr/>
    <ul>
        <li><router-link to="/">Main Page</router-link></li>
        <li v-for="i in 4">
            <router-link :to="'/projects/'+i">Project {{i}}</router-link>
        </li>
    </ul>
</center>

</template>